<!DOCTYPE html>
<html>
<head>
  <title>Fanap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="background:#dddddd;padding:10px;">
	<ul>
		<li><a href="/admin/info/index">お知らせ</a></li>
    	<li><a href="/admin/user/index">ユーザ</a></li>
		<li><a href="/admin/rss/index">RSS</a></li>
		<li><a href="/admin/recommend/index">お勧めアプリ</a></li>
		<li><a href="/admin/affiliate/index">アフィリエイト</a></li>
	</ul>
</div>

<%= yield %>

</body>
</html>
